.scale-visible{
    animation: scale_ani 1s ease forwards;
}
.right-visible{
    animation: right_ani 1s ease forwards;
}
.left-visible{
    animation: left_ani 1s ease forwards;
}
.down-visible{
    animation: down_ani 1s ease forwards;
}