$load:#080c3f;
$main:#7cc576;
$main-darker:#49a740;
$secondary:#ffffff;
$secondary-darker:whitesmoke;
$shadow:gainsboro;
$gray:#aeaeae;
$gray-lighter:#ddd;
$gray-darker:#555555;
$dark:#000000;